/* 
    Document   : login.css
    Created on : 2-feb-2012, 15.11.12
    Author     : francesco
    Description:
        Purpose of the stylesheet follows.
*/
h1{
    color: #fff;
    font-size: 2.8em;
    padding: 12px;
    letter-spacing: 2px;
}
#content.login{
    width:800px;
    margin:auto;
    padding:10px 30px;
}
small {
    color: #fff;
    font-size: 0.4em;
    padding: 12px;    
}

form {
    height: 200px;
}

input {
    background-color: #999;

    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;

    -webkit-box-shadow: 0 -1px 0 0px #000;
    -moz-box-shadow: 0 -1px 0 0px #000;
    box-shadow: 0 -1px 0 0px #000;

    border: none;
    width: 316px;
    height: 65px;
    margin: 10px 0;
    color: #fff;
    padding: 0 0 0 10px;

    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    
}

label, button {

    font-family: MisoRegular, Helvetica, Arial, sans-serif;

    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

#submitLogin {
    width: 150px;
    height: 150px;
    text-align: center;
    color: #000;
    border: none;
    float: left;
    background:#fff url('../img/bullet.png');
    font-size: 30px;
}

#submitLogin:hover{
    cursor: pointer;
    color: #fff;
    background: #363535;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#303030));
    background: -moz-linear-gradient(bottom,  #303030,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b', endColorstr='#303030');
}

#submitLogin:active{
    border:none;
    -webkit-box-shadow: 0 0px 2px rgba(255,255,255,0.2);
    -moz-box-shadow: 0 0px 2px rgba(255,255,255,0.2);
    box-shadow: 0 0px 2px rgba(255,255,255,0.2);
}

fieldset{
    border: none;
    width: 460px;
    height: 150px;
    float: left;
}

fieldset.login{
    border: none;
    height: 150px;
    width: 150px;
    float: left;
}