/* 
    Document   : login.css
    Created on : 2-feb-2012, 15.11.12
    Author     : francesco
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
h1{
    color: #fff;
    font-size: 1.8em;
    padding: 12px;
    letter-spacing: 2px;
}

small {
    color: #fff;
    font-size: 0.4em;
    padding: 12px;    
}

form {
    height: 150px;
}

input {
    background-color: #303030;

    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;

    -webkit-box-shadow: 0 -1px 0 0px #000;
    -moz-box-shadow: 0 -1px 0 0px #000;
    box-shadow: 0 -1px 0 0px #000;

    border: none;
    width: 316px;
    height: 27px;
    margin: 10px 0;
    color: #fff;
    padding: 0 0 0 10px;

    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    
}

label, button {

    font-family: MisoRegular, Helvetica, Arial, sans-serif;

    text-transform: uppercase;
    letter-spacing: 3px;
/*
    font-size: 1.4em;
*/
    color: #fff;
}

#submitLogin {
    width: 75px;
    height: 75px;
    text-align: center;
    border: none;
    float: left;
    background: greenyellow;/*#363535*/;
    background: -webkit-gradient(linear, left top, left bottom, from(green/*#3A3A3A*/), to(greenyellow/*#303030*/));
    background: -moz-linear-gradient(bottom, greenyellow,/*#303030,*/ green/*#3A3A3A*/);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='green'/*'#3A3A3A'*/, endColorstr='greenyellow');
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-box-shadow: 0 0px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 0px 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0px 1px rgba(255, 255, 255, 0.1);
    color: white;
    /*text-align: right;*/
}

#submitLogin:hover{
    cursor: pointer;
    /*
    background: #363535;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#303030));
    background: -moz-linear-gradient(bottom,  #303030,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b', endColorstr='#303030');
    */
    background: green;
    background: -webkit-gradient(linear, left top, left bottom, from(greenyellow), to(green));
    background: -moz-linear-gradient(bottom,  #303030,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b', endColorstr='#303030');
}

#submitLogin:active{
    border:none;
    -webkit-box-shadow: 0 0px 2px rgba(255,255,255,0.2);
    -moz-box-shadow: 0 0px 2px rgba(255,255,255,0.2);
    box-shadow: 0 0px 2px rgba(255,255,255,0.2);
}


fieldset{
    border: none;
    width: 460px;
    height: 150px;
    float: left;
}

fieldset.login{
    border: none;
    height: 100px;
    width: 100px;
    float: left;
}