/* 
    Document   : main
    Created on : 2-feb-2012, 15.52.17
    Author     : francesco
    Description: stylecss for commander, administrator file.
*/
body{
    background:#e9e8e4 url('../img/bg-black.png');
    font-family: MisoRegular, Helvetica, Arial, sans-serif;
}
#content{ 
    width:920px; margin:20px auto; padding:10px 30px;
}

/* ////// tipography ///////// */
h1{
    color: #fff;
    font-size: 2.0em;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
h4{
    font:300 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height:160%;
    letter-spacing:0.15em;
    color:#fff;
    text-shadow:1px 1px 0 rgb(0,0,0);
    margin-top: 10px;
}
p{
    font:300 12px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color:#000;
}
a{
    text-decoration:none;
}

/* clearfix */
.clearfix{ display: block; height: 0; clear: both; visibility: hidden; }

/* ///////  amministrazione  ///// */

/* breadcrumb */
.breadcrumb{
    color:#fff;
    text-align: right;
    font-size: 12px;
    float: right;
}

#plus{
        padding: 2px;
    }
#add_span{
    float: right;
    margin: 5px;
}
#add_tab{
    margin-bottom: 5px;
    float: right;
    cursor: pointer;
}
#add_tab .ui-button-text{
    padding: 2px;
}
span.ui-dialog-title{
    color:white;
}


/* ////// SAVE and DELETE button //// */
/* sala button */
#save_sala{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_sala{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}

/* tavolo button */
#save_tavolo{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_tavolo{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}
#save_cassiere{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_cassiere{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}

#save_stampante{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_stampante{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}

#save_ticket{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_ticket{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}
#save_variante{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_variante{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}
#save_categoria{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_categoria{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}
#save_alimento{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_alimento{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}
a.finish {
    /*background: #ccc;*/
    background: red;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
    }
a.down.finish{
    /*background: #bbb;*/
    background: green;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }
#save_menu{
   height: 50px;
   width: 100px;
   background-color: green;
   text-transform: uppercase;
   cursor: pointer;
}
#delete_menu{
   width: 100px;
   height: 50px;
   background-color: red;
   text-transform: uppercase;
   cursor: pointer;
}


/* ////////// form ///////// */
button{
    cursor: pointer;
}

form label.tab_title{
    margin-right: 38px;
}

form label.tab_ntavoli{
    margin-right: 5px;
}

form label.tab_ncoperti{
    margin-right: 5px;
}

form label.tab_numero{
    margin-right: 52px;
}

/* ///////////////////////
 * error
 *
 */
label.error {
    float: none;
    color: red;
    padding-left: 0em;
    vertical-align: text-bottom;
    font-size: 12px;
}
p { clear: both; }
.submit {
    margin-left: 12em; }
em {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
}

/* ////// dialog//////// */
.addNewTab{
    width: 265px;
/*    margin-bottom: 8px;*/
}
.addNewTab-alimento{
    width: 300px;
    display: block;
/*    margin-bottom: 8px;*/
}
.dialog-color{
    width: 420px;
}
.ui-dialog {
    width: 420px;
}

.addNewTab-color{
    width: 387px;
}

/*
 *  pagina statistiche
 */
.cloud {
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #FFF;
    margin: 10px;
}
.cloud:hover{
    cursor: pointer;
}
.ui-datepicker-trigger{
    height: 30px;
    margin: 0px 0px -10px 10px;
    padding: 0px;
}

li.ordini:hover{
    cursor: pointer;
}
/* -----------
 * -----------
 *
 * form
 */
#ricerca-ordine-form{
    border-radius: 5px 5px 5px 5px;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #FFF;
    margin: 0px 10px 10px 10px;
    padding:5px;
}
#ricerca-ordine-form fieldset{
    border: none;
}
#ricerca-cameriere-form{
    border-radius: 5px 5px 5px 5px;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #FFF;
    margin: 0px 10px 10px 10px;
    padding:5px;

}
#ricerca-cameriere-form fieldset{
    border: none;
}

#data-ordini-form{
    width: 550px;
    display: inline;
    margin: 0px;
    padding: 10px 10px 10px 0px;
}
#data-alimenti-ordini-form{
    width: 550px;
    display: inline;
    margin: 0px;
    padding: 10px 10px 10px 0px;
}
#filtro-cameriere p{
    margin: 0px;
}
div#results{
    margin-bottom: 10px;
}
div#results div.result{
    padding:10px 0px;
    margin:10px 0px 10px;
}
.ui-listview-inset .ui-li {
    border-right-width: 0px;
    border-left-width: 0px;
}
.cec-button{
   height: 30px;
   text-transform: uppercase;
   cursor: pointer;
}
#cerca-ordini{
    margin-left: 20px;
    float: none;
}
div#results2{
    margin-bottom: 10px;
}


#report{
    padding: 10px;
}